# Build output
dist
build
public/build
.bundle/

# Dependencies
node_modules/

# Webpack cache
webpack-cache/
.cache/
.cache-loader

# TypeScript cache and output
*.tsbuildinfo
tsconfig.tsbuildinfo

# Coverage directory (para informes de pruebas de Jest)
coverage/

# Jest and Testing Library outputs
*.snap
.jest/

# Local environment files
.env
.env.local
.env.*.local

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Miscellaneous
.tmp/
temp/
*.tmp

# Ignore OS and editor specific files
.DS_Store
Thumbs.db

# VS Code
.vscode/
!.vscode/extensions.json
.history/  # si usas Visual Studio Code extensions como Local History
