.wrapToastt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.alertContain {
  display: flex;
  gap: 0.5rem;
}
.btnDelete {
  padding: 0.5rem 1rem;
  background: #ff4d4f;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  &:hover {
    color: #ffffff;
    background-color: #ff2125;
  }
}
.btnCancel {
  padding: 0.5rem 1rem;
  background: #d9d9d9;
  color: #333;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  &:hover {
    color: #ffffff;
    background-color: #918f8f;
  }
}
