.contactForm {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin-top: 3rem;
    gap: 0.5rem;
    background: #f9f9f90f;
    padding: 2.5rem 2rem;
    box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    >p{
        color: #ff0000;
        font-size: 12px;
        text-decoration: underline;
    }
}
@media (max-width: 979px) {
    .contactForm{
        max-width: 16rem;
    }
}
.controls {
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-top: 5rem;
}
.btnDelete {
    padding: 0.5rem 1rem;
    background: #ff4d4f;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        color: #ffffff;
        background-color: #ff2125;
    }
}
.btnCancel {
    padding: 0.5rem 1rem;
    background: #d9d9d9;
    color: #333;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        color: #ffffff;
        background-color: #918f8f;
    }
}
.btnUpdate {
    background-color: #4466fd62;
    border: 1px solid #808080;
    width: 120px;
    transition: width 0.4s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
        background-color: #4466fd;
        width: 200px;
    }
}

